
.App-logo {

}

.App {
  height: 75px;
  width: 75px;
  color: blue;
  outline-color: black;
}





.Pics{
  height: 180px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 25px;


}
